@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Open+Sans:ital,wght@0,500;0,600;1,400;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,900;1,300&family=Tilt+Prism&display=swap");

/* general CSS */
body {
    font-family: "Poppins", sans-serif;
}
/* end general CSS */

/* nav CSS */

.nav {
    height: 6rem;
    width: 100vw;
    background-color: #13141888;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    position: fixed;
    z-index: 10;
}

/*Styling logo*/
.logo {
    padding: 1vh 1vw;
    text-align: center;
}
.logo img {
    height: 5rem;
    width: 5rem;
}

/*Styling Links*/
.nav-links {
    display: flex;
    list-style: none;
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}
.nav-links li a {
    text-decoration: none;
    margin: 0 0.7vw;
}

.nav-links li {
    position: relative;
}

.nav-links li a:hover::before {
    width: 80%;
}

/*Styling Buttons*/
.login-button {
    background-color: #398564;
    padding: 0.6rem 2.5rem;

    font-size: 1rem;
    cursor: pointer;
}

.login-button:hover {
    color: #131418;
    background-color: #f2f5f7;
    border: 1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}
.join-button {
    color: #131418;
    background-color: #61dafb;
    border: 1.5px solid #61dafb;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
}
.join-button:hover {
    color: #f2f5f7;
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}

/*Styling Hamburger Icon*/
.hamburger div {
    width: 30px;
    height: 3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger {
    display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px) {
    nav {
        position: fixed;
        z-index: 3;
    }
    .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links {
        position: fixed;
        background: #131418;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li {
        opacity: 0;
    }
    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4) {
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5) {
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6) {
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7) {
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade {
        opacity: 1;
    }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    transition: all 0.7s ease;
    width: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
/* end nav CSS */

/* home CSS */
.main-banner {
    background-image: url("/public/images/Group 124.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 250px 320px;
}

/* serach foam CSS  */
.search-foam {
    border-top: 20px solid #317256;
    width: 40%;
    padding: 10px;
}

.container {
    align-items: center;
    justify-content: center;
}

.setting-description-text {
    padding-top: 18px !important;
    color: #81828b;
    font-family: Gilroy-Regular !important;
}

/* the code below is for the dropdown menu */
.wrapper-dropdown {
    border-bottom: 1px solid #fff;
    background-color: black;
    position: relative;
    display: inline-block;
    padding: 0px 0px 0px 0px;
    min-height: 38px;
    width: 100%;
    text-align: left;
    color: #fff;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 20px;
    font-family: Arial;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.drop-arrow {
    margin-left: 10px;
    margin-right: 10px;
    float: right;
    rotate: 180deg;
}

.selected-display {
    margin-left: 10px;
    margin-top: -10px;
}

svg {
    transition: all 0.3s;
}

.wrapper-dropdown::before {
    position: absolute;
    top: 50%;
    right: 16px;

    margin-top: -2px;

    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #fff transparent;
}

.rotated {
    transform: rotate(-180deg);
}

.wrapper-dropdown .dropdown {
    transition: 0.3s;

    position: absolute;
    top: 120%;
    right: 0;
    left: 0;

    margin: 0;
    padding: 0;

    list-style: none;

    z-index: 99;

    border-radius: 15px;
    box-shadow: inherit;
    background: inherit;

    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    opacity: 0;
    visibility: hidden;
}

.wrapper-dropdown .dropdown li {
    padding: 0 15px;
    line-height: 45px;
    overflow: hidden;
}

.wrapper-dropdown .dropdown li:last-child {
    border-bottom: none;
}

.dropdown {
    padding: 0.5rem !important;
}

.wrapper-dropdown .dropdown li:hover {
    background-color: rgb(35, 40, 49);
    border-radius: 10px;
}

.wrapper-dropdown.active .dropdown {
    opacity: 1;
    visibility: visible;

    border-radius: 15px;
}

.date-input {
    border: none;
    border-bottom: 1px solid white;
}

.date-input::placeholder {
    color: white;
}
/* end serach foam css */

.whychoose-section,
.discover-section {
    background-image: url("/public/images/Rectangle 28.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
}

.discover-section {
    height: 55vh;
}

.slider {
    max-width: 1400px;
    color: #fff;
    grid-template-columns: 35% 65%;
    position: relative;
}

.slider .content_container {
    padding: 40px;
}

.slider .slides {
    overflow-y: auto;
    max-height: 500px;
    scrollbar-width: none;
}

.slider .slides::-webkit-scrollbar {
    display: none;
}

.slider .slides .slide {
    min-height: calc(100% - 80px);
    display: flex;
    color: #333;
    align-items: center;
}

.slides-container {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}
.slides-container::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

#content1,
#content2 {
    display: none;
    padding: 20px;
    overflow: hidden;
}

.tab input {
    display: none;
}

.tab-label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: bold;
    text-align: center;
    color: #707070;
    border: 1px solid transparent;
}

.tab-label:before {
    font-weight: normal;
    margin-right: 10px;
}

.tab-label:hover {
    color: #888;
    cursor: pointer;
}

.tab-input:checked + .tab-label {
    color: #317256;
    border-bottom: 5px solid #317256;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5,
#tab6:checked ~ #content6,
#tab7:checked ~ #content7 {
    display: block;
}
ul > li {
    margin-bottom: 10px;
}

.border{
    border: 1px solid red !important;
}
/* counter css */

.heading {
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
    padding: 5rem 0;
}
.counter-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.counter {
    text-align: center;
}
.counter h3 {
    padding: 0.5rem 0;
    font-size: 3.5rem;
    font-weight: 600;
}
.counter h6 {
    font-size: 2rem;
    padding-bottom: 1rem;
}

/* end counter css */
.content-wrapper {
    height: 63%;
    width: 63em;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: end;
}

.blue-line {
    height: 0.3rem;
    width: 6rem;
    background-color: rgb(79, 143, 226);
    margin-bottom: calc(3rem + 2vmin);
}

.wrapper-for-arrows {
    position: relative;
    width: 65%;
    border: 2px solid #398564;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow: hidden;
    display: grid;
    place-items: center;
    background-color: #f8fff2;
}

.review-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: calc(1rem + 1vmin);
    width: 100%;
}

#imgDiv {
    border-radius: 50%;
    width: calc(6rem + 4vmin);
    height: calc(6rem + 4vmin);
    position: relative;
    box-shadow: 5px -3px #398564;
    background-size: cover;
    margin-bottom: calc(0.7rem + 0.5vmin);
}

.chicken {
    background-image: url("https://media0.giphy.com/media/A8Cdznswn5vnG/200w.gif?cid=790b7611e8c5980ee7141bc18ec12c49962b871eb404ba5b&rid=200w.gif&ct=s");
    width: 200px;
    height: 250px;
    position: absolute;
    top: 12%;
}

#imgDiv::after {
    content: "''";
    font-size: calc(2rem + 2vmin);
    font-family: sans-serif;
    line-height: 150%;
    color: #fff;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: #398564;
    position: absolute;
    top: 10%;
    left: -10%;
    width: calc(2rem + 2vmin);
    height: calc(2rem + 2vmin);
}

#personName {
    margin-bottom: calc(0.7rem + 0.5vmin);
    font-size: calc(1rem + 0.5vmin);
    letter-spacing: calc(0.1rem + 0.1vmin);
    font-weight: bold;
}

#profession {
    font-size: calc(0.8rem + 0.3vmin);
    margin-bottom: calc(0.7rem + 0.5vmin);
    color: #398564;
}

#description {
    font-size: calc(0.8rem + 0.3vmin);
    text-align: center;
    margin-bottom: calc(1.4rem + 1vmin);
    color: rgb(92, 92, 92);
    line-height: 2rem;
}

.arrow-wrap {
    position: absolute;
    top: 50%;
}

.arrow {
    width: calc(1.4rem + 0.6vmin);
    height: calc(1.4rem + 0.6vmin);
    border: solid #398564;
    border-width: 0 calc(0.5rem + 0.2vmin) calc(0.5rem + 0.2vmin) 0;
    cursor: pointer;
    transition: transform 0.3s;
}

.arrow:hover {
    transition: 0.3s;
    transform: scale(1.15);
}

.left-arrow-wrap {
    left: 5%;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.right-arrow-wrap {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 5%;
}

.surprise-me-btn {
    border: 2px solid rgb(79, 143, 226);
    background-color: rgb(224, 238, 255);
    color: rgb(79, 143, 226);
    border-radius: 2rem;
    padding: calc(0.5rem + 0.2vmin) 0;
    width: calc(7rem + 5vmin);
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
    margin-bottom: calc(1.4rem + 1vmin);
}

.surprise-me-btn:hover {
    transition: background-color 0.3s, transform 0.3s;
    background-color: rgb(255, 255, 255);
    transform: rotate(5deg);
}

.move-head {
    animation: moveHead 1.55s infinite;
    animation-delay: -0.8s;
}

.hide-chicken-btn {
    border: 2px solid rgb(226, 89, 79);
    background-color: rgb(255, 224, 224);
    color: rgb(226, 79, 79);
    border-radius: 2rem;
    padding: calc(0.5rem + 0.2vmin) 0;
    width: calc(10rem + 5vmin);
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
    margin-bottom: calc(1.4rem + 1vmin);
}

.hide-chicken-btn:hover {
    transition: background-color 0.3s, transform 0.3s;
    background-color: rgb(255, 255, 255);
    transform: rotate(5deg);
}

@keyframes moveHead {
    0% {
    }
    25% {
        transform: translate(0.5rem, 1rem) rotate(5deg);
    }
    100% {
        transform: translate(0, 0) rotate(-5deg);
    }
}

@media screen and (max-width: 900px) {
    .content-wrapper {
        width: 100%;
    }
}

.getoff-section {
    background-image: url("/public/images/Group 144.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 0px 0px 25px 25px;
}

/* end home CSS */

/* footer CSS */
.subscribe-form {
    position: relative;
    overflow: hidden;
}
.subscribe-form input {
    width: 100%;
    padding: 15px 28px;
    background: #fff;
    color: #fff;
}

.subscribe-form input::placeholder {
    color: #317256;
    font-weight: 500;
}

.subscribe-form button {
    position: absolute;
    right: 0;
    background: #fff;
    border-left: 2px solid #317256;
    padding: 10px 18px;
    top: 2px;
}
.subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
}
/* end footer CSS */

/* car list CSS  */
.dropdown {
    z-index: 30;
    min-width: 15em;
    position: relative;
    margin: 2em;
}

.dropdown * {
    box-sizing: border-box;
}

.select {
    background: #fff;
    color: #23242a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(42, 45, 53, 0.1); /* Updated box-shadow value */
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
}

.select-clicked {
    border: 2px #26489a solid;
    box-shadow: 0 0 0.8em #26489a;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #2a2d35;
    transition: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #fff;
    box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #23242a;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.active {
    background: #fff;
}

.menu-open {
    display: block;
    opacity: 1;
}
/* end car list CSS */

/* single car view CSS */

/* Position the image container (needed to position the left and right arrows) */
.container {
    margin-top: 15%;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

/* rating section */
.star-cb-group {
    /* remove inline-block whitespace */
    font-size: 0;
    /* flip the order so we can use the + and ~ combinators */
    unicode-bidi: bidi-override;
    direction: rtl;
    /* the hidden clearer */
}
.star-cb-group * {
    font-size: 1.5rem;
}
.star-cb-group > input {
    display: none;
}
.star-cb-group > input + label {
    /* only enough room for the star */
    display: inline-block;
    overflow: hidden;
    text-indent: 9999px;
    width: 1em;
    white-space: nowrap;
    cursor: pointer;
}
.star-cb-group > input + label:before {
    display: inline-block;
    text-indent: -9999px;
    content: "☆";
    color: #888;
}
.star-cb-group > input:checked ~ label:before,
.star-cb-group > input + label:hover ~ label:before,
.star-cb-group > input + label:hover:before {
    content: "★";
    color: #fde047;
    text-shadow: 0 0 1px #333;
}
.star-cb-group > .star-cb-clear + label {
    text-indent: -9999px;
    width: 0.5em;
    margin-left: -0.5em;
}
.star-cb-group > .star-cb-clear + label:before {
    width: 0.5em;
}
.star-cb-group:hover > input + label:before {
    content: "☆";
    color: #888;
    text-shadow: none;
}
.star-cb-group:hover > input + label:hover ~ label:before,
.star-cb-group:hover > input + label:hover:before {
    content: "★";
    color: #fde047;
    text-shadow: 0 0 1px #333;
}

.rating-box {
    width: 300px;
    height: 300px;
    border: solid 1px #c1c1c1;
    margin: 0 auto;
    position: relative;
}

fieldset {
    border: none;
    padding: 5px 20px;
}
.rating-success {
    display: none;
    text-align: center;
    font-size: 20px;
    padding: 30px 0;
}
.rating-success.active {
    display: block;
}

.rating-form input.text-field {
    display: block;
    width: 100%;
    line-height: 25px;
    font-size: 14px;
    padding: 0 10px;
    border: solid 1px #c1c1c1;
}

.rating-form #review {
    width: 100%;
    padding: 0 10px;
    line-height: 25px;
    font-size: 14px;
    height: 100px;
    border: solid 1px #c1c1c1;
}

.rating-form #submit {
    width: 100px;
    line-height: 30px;
    font-size: 14px;
    border-radius: 0;
    -webkit-appearance: none;
    background: #467379;
    color: white;
    border: none;
    outline: none;
}
/* end rating section */
/* end single car view CSS */


/* Media Queries */
@media only screen and (max-width: 600px) {
    .main-banner {
        padding: 10px;
    }

    .main-logo {
        width: 80px;
        height: 80px;
    }

    .search-foam {
        width: 100%;
    }

    .wrapper-dropdown {
        width: 100% !important;
    }
}
