@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Open+Sans:ital,wght@0,500;0,600;1,400;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,900;1,300&family=Tilt+Prism&display=swap');

/* general CSS */
body {
    font-family: 'Poppins', sans-serif;
}
/* end general CSS */

/* nav CSS */
.main-logo {
    width: 120px;
    height: 120px;
}

.navigation-menu {
    background-color: transparent;
}
/* end nav CSS */


/* home CSS */
.main-banner {
    background-image: url("/public/images/Group 124.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 250px 320px;
}

.whychoose-section, .discover-section {
    background-image: url("/public/images/Rectangle 28.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
}

.discover-section {
    height: 55vh; 
}

.slider{
    max-width: 1400px;
    color: #fff;
    grid-template-columns: 35% 65%;
    position: relative;
}

.slider .content_container{
    padding: 40px;
}

.slider .slides{
    overflow-y: auto;
    max-height: 500px;
    scrollbar-width: none;
}

.slider .slides::-webkit-scrollbar{
    display: none;
}

.slider .slides .slide{
    min-height: calc(100% - 80px);
    display: flex;
    color: #333;
    align-items: center;
}

.slides-container {
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}
.slides-container::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

section {
    display: none;
    padding: 20px;
    overflow: hidden;
  }
  
  .tab input {
    display: none;
  }
  
  label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: bold;
    text-align: center;
    color: #707070;
    border: 1px solid transparent;
  }
  
  label:before {
    font-weight: normal;
    margin-right: 10px;
  }
  
  label:hover {
    color: #888;
    cursor: pointer;
  }
  
  input:checked + label {
    color: #317256;
    border-bottom: 5px solid #317256 ;
  }
  
  #tab1:checked ~ #content1,
  #tab2:checked ~ #content2,
  #tab3:checked ~ #content3,
  #tab4:checked ~ #content4,
  #tab5:checked ~ #content5,
  #tab6:checked ~ #content6,
  #tab7:checked ~ #content7 {
    display: block;
  }
  ul > li{
      margin-bottom: 10px;
  }

  /* counter css */

  .heading {
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
    padding: 5rem 0;
  }
  .counter-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .counter {
    text-align: center;
  }
  .counter h3 {
    padding: 0.5rem 0;
    font-size: 3.5rem;
    font-weight: 600;
  }
  .counter h6 {
    font-size: 2rem;
    padding-bottom: 1rem;
  }


  /* end counter css */
  .content-wrapper {
    height: 63%;
    width: 63em;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: end;
  }
  
  .blue-line {
    height: 0.3rem;
    width: 6rem;
    background-color: rgb(79, 143, 226);
    margin-bottom: calc(3rem + 2vmin);
  }
  
  .wrapper-for-arrows {
    position: relative;
    width: 65%;
    border: 2px solid #398564;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow: hidden;
    display: grid;
    place-items: center;
    background-color: #F8FFF2;
  }
  
  .review-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: calc(1rem + 1vmin);
    width: 100%;
  }
  
  #imgDiv {
    border-radius: 50%;
    width: calc(6rem + 4vmin);
    height: calc(6rem + 4vmin);
    position: relative;
    box-shadow: 5px -3px #398564;
    background-size: cover;
    margin-bottom: calc(0.7rem + 0.5vmin);
  }
  
  .chicken {
    background-image: url("https://media0.giphy.com/media/A8Cdznswn5vnG/200w.gif?cid=790b7611e8c5980ee7141bc18ec12c49962b871eb404ba5b&rid=200w.gif&ct=s");
    width: 200px;
    height: 250px;
    position: absolute;
    top: 12%;
  }
  
  #imgDiv::after {
    content: "''";
    font-size: calc(2rem + 2vmin);
    font-family: sans-serif;
    line-height: 150%;
    color: #fff;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: #398564;
    position: absolute;
    top: 10%;
    left: -10%;
    width: calc(2rem + 2vmin);
    height: calc(2rem + 2vmin);
  }
  
  #personName {
    margin-bottom: calc(0.7rem + 0.5vmin);
    font-size: calc(1rem + 0.5vmin);
    letter-spacing: calc(0.1rem + 0.1vmin);
    font-weight: bold;
  }
  
  #profession {
    font-size: calc(0.8rem + 0.3vmin);
    margin-bottom: calc(0.7rem + 0.5vmin);
    color: #398564;
  }
  
  #description {
    font-size: calc(0.8rem + 0.3vmin);
    text-align: center;
    margin-bottom: calc(1.4rem + 1vmin);
    color: rgb(92, 92, 92);
    line-height: 2rem;
  }
  
  .arrow-wrap {
    position: absolute;
    top: 50%;
  }
  
  .arrow {
    width: calc(1.4rem + 0.6vmin);
    height: calc(1.4rem + 0.6vmin);
    border: solid #398564;
    border-width: 0 calc(0.5rem + 0.2vmin) calc(0.5rem + 0.2vmin) 0;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .arrow:hover {
    transition: 0.3s;
    transform: scale(1.15);
  }
  
  .left-arrow-wrap {
    left: 5%;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .right-arrow-wrap {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 5%;
  }
  
  .surprise-me-btn {
    border: 2px solid rgb(79, 143, 226);
    background-color: rgb(224, 238, 255);
    color: rgb(79, 143, 226);
    border-radius: 2rem;
    padding: calc(0.5rem + 0.2vmin) 0;
    width: calc(7rem + 5vmin);
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
    margin-bottom: calc(1.4rem + 1vmin);
  }
  
  .surprise-me-btn:hover {
    transition: background-color 0.3s, transform 0.3s;
    background-color: rgb(255, 255, 255);
    transform: rotate(5deg);
  }
  
  .move-head {
    animation: moveHead 1.55s infinite;
    animation-delay: -0.8s;
  }
  
  .hide-chicken-btn {
    border: 2px solid rgb(226, 89, 79);
    background-color: rgb(255, 224, 224);
    color: rgb(226, 79, 79);
    border-radius: 2rem;
    padding: calc(0.5rem + 0.2vmin) 0;
    width: calc(10rem + 5vmin);
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
    margin-bottom: calc(1.4rem + 1vmin);
  }
  
  .hide-chicken-btn:hover {
    transition: background-color 0.3s, transform 0.3s;
    background-color: rgb(255, 255, 255);
    transform: rotate(5deg);
  }
  
  @keyframes moveHead {
    0% {
    }
    25% {
      transform: translate(0.5rem, 1rem) rotate(5deg);
    }
    100% {
      transform: translate(0, 0) rotate(-5deg);
    }
  }
  
  @media screen and (max-width: 900px) {
    .content-wrapper {
      width: 100%;
    }
  }
  
  .getoff-section {
    background-image: url("/public/images/Group 144.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* end home CSS */


  /* Media Queries */

  @media only screen and (max-width: 600px) {
    .main-banner {
      padding: 10px;
    }

    .main-logo {
      width: 80px;
      height: 80px;
  }
  }
  

